.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

    background-color: $color-blue-normal;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    height: $header-height;

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;

        .logo {
            display: inline-block;
            padding-top: $logo-top-spacing-mobile;
            @include respond-up(small) {
                padding-top: $logo-top-spacing;
            }
            img {
                height: $logo-size-mobile;
                @include respond-up(small) {
                    height: $logo-size;
                }
            }
        }
    }

    .secondary-navigation {
        position: absolute;
        top: 0;
        right: $mobile-gutter;
        z-index: 2;

        display: none;
        @include respond-up(small) {
            display: initial;
        }

        .nav-link {
            height: $header-height;
            line-height: $header-height;

            @include underline-link($state: inactive, $color: $color-yellow);

            &:hover {
                @include underline-link($state: active, $color: $color-yellow);
            }

            color: $color-white;
        }
    }
}

.header-callout {
    position: fixed;
    top: $header-height;
    left: 0;
    height: $header-callout-height;
    width: 100%;
    text-align: center;
    background-color: $color-blue-darker;
    color: $color-white;
    z-index: 8;

    .callout-message {
        line-height: $header-callout-height;
    }
}