.product-tile {
    padding: 30px;
    min-height: 300px;
    background-color: $color-white;
    border-radius: $site-border-radius;
    border: 4px solid $color-gray-1;
    transition: border 0.3s ease-in-out;

    &:hover {
        border-color: $secondary-color;
    }

    .product-image {
        width: 100%;
        display: inline-block;
        border-radius: $site-border-radius;
        border: 4px solid $color-gray-1;
    }

    .title {
        margin-top: 25px;
        font-size: $tiny;
        font-weight: $black;
        text-align: center;
        color: $color-blue-darker;
    }
    .price {
        margin-top: 10px;
        font-size: 0.9em;
        font-weight: $bold;
        text-align: center;
        color: $color-black-5;
    }
}
.product-detail {

    .mobile-title {
        margin-bottom: 40px;
        display: block;
        @include respond-up(small) {
            display: none;
        }
    }

    .desktop-title {
        display: none;
        @include respond-up(small) {
            display: block;
        }
    }

    .short-description {
        font-weight: $bold;
        padding: 12px 0;
        line-height: 1.7;
        p {
            line-height: 1.7;
        }
    }
    .long-description {
        color: $color-black-5;
        padding: 12px 0;
        line-height: 1.4;
        p {
            line-height: 1.4;
        }
    }
    .pricing {
        .price {
            vertical-align: middle;
            display: inline-block;
            margin: 0;
        }
        .shipping-pricing {
            vertical-align: middle;
            display: inline-block;
            margin: 0 0 0 10px;
            font-size: $micro;
        }
    }
    .buy-now-container {
        margin-top: 30px;
    }
    .carousel {
        &.carousel-slider {
            border: 4px solid $color-gray-1;
            border-radius: $site-border-radius;
            overflow: hidden;
            .slide {
                overflow: hidden;
                div {
                    overflow: hidden;
                }
                img {
                    border-radius: $site-border-radius - 4px;
                }
            }
            .control-arrow {
                background-color: $color-white;
                top: 50%;
                margin-top: -18px;
                bottom: auto;

                opacity: 1;
                filter: alpha(opacity=100);

                padding-top: 0;
                &:before {
                    margin: 8px 0;
                }

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
        .control-arrow {
            background-color: $color-white;
            border: 1px solid $color-gray-1;
            border-radius: 28px;
            width: 28px;
            height: 28px;
            opacity: 1;
            filter: alpha(opacity=100);
            margin-top: -18px;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

            &:hover {
                background-color: $secondary-color;
            }

            &:before {
                margin: 5px 0;
            }

            &.control-next {
                right: 20px;
                &:before {
                    border-left: 6px solid $color-black-0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                }
            }
            &.control-prev {
                left: 20px;
                &:before {
                    border-right: 6px solid $color-black-0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                }
            }
        }
        .thumbs-wrapper {
            margin: 0;
        }
        .thumbs {
            padding: 0px;
            .thumb {
                cursor: pointer;
                width: 80px;
                border-radius: $site-border-radius * 0.5;

                @include respond-up(small) {
                    width: 100px;
                    border-radius: $site-border-radius * 0.75;
                }

                @include respond-up(medium) {
                    width: 140px;
                    border-radius: $site-border-radius;
                }

                padding: 0px;
                margin-bottom: 0;
                &.selected,
                &:hover {
                    border: 3px solid $secondary-color;
                }
            }
        }
        .control-dots {
            .dot {
                opacity: 1;
                filter: alpha(opacity=100);
                background-color: $secondary-color;
                box-shadow: none;
                &.selected,
                &:hover {
                    background-color: $color-black-0;
                }
            }
        }
    }
}